@model ControleFinanceiro.Models.ViewModels.User.ConfirmPasswordFormViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<section class="container">
    <h2 class="text-center">Mudar senha de acesso</h2>

    <div class="col-md-12 ">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CurrencyPasswordHash" class="control-label"></label>
                <input asp-for="CurrencyPasswordHash" id="current" class="form-control" />
                <span asp-validation-for="CurrencyPasswordHash" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="NewPasswordHash" class="control-label"></label>
                <input asp-for="NewPasswordHash" id="new" class="form-control" />
                <span asp-validation-for="NewPasswordHash" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ConfirmPasswordHash" class="control-label"></label>
                <input asp-for="ConfirmPasswordHash" id="confirm" class="form-control" />
                <span asp-validation-for="ConfirmPasswordHash" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <input type="submit" value="Enviar" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</section>