
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

    <section class="container">
        
        <h1>Confirmação da troca de senha</h1>
        <h4>
            Se você tem uma conta conosco, enviamos um email com instruções para resetar sua senha
        </h4>

    </section>

