
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

    <section class="container">

        <h1>Confirmação de alteração</h1>

        <h2>Sua senha foi alterado com sucesso</h2>


    </section>

