
@{
    ViewData["Title"] = "SuccessfullyAdded";
}

<section class="text-center">
    <h1>Registrado com Sucesso!</h1>
    <h3>Antes de entrar na sua conta, por favor, confirme seu cadastro no seu email informado, clicando no link!</h3>
    
    <p>Aguarde alguns instantes, as vezes pode levar algum tempo.</p>
    <p>Verifique sua Lixeira ou caixa de spam, o Email pode ter caido lá</p>
</section>
>

